In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay,classification_report,accuracy_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import LabelEncoder
from csv import writer

In [2]:
df=pd.read_csv("RestoInfo2.csv")

In [3]:
df

      area  rent  stars       food food type discount restaurant
0     pune  4000      3  expensive       veg      yes          A
1     pune  4000      3  expensive   non-veg      yes          A
2     pune  4000      3  expensive       veg       no          A
3     pune  5000      3  expensive       veg      yes          A
4     pune  4500      3  expensive   non-veg      yes          A
..     ...   ...    ...        ...       ...      ...        ...
57    pune  4000      3        low   non-veg      yes          A
58    pune   500      1  expensive       veg       no          H
59    pune  4000      3  expensive       veg      yes          A
60    pune  1000      2        low       veg      yes          B
61  mumbai   500      1        low       veg       no          F

[62 rows x 7 columns]

In [4]:
d={0:'A',1:'B',2:'C',3:'D',4:'E',5:'F',6:'G',7:'H',8:'I'}

In [5]:
df2=df.copy()

In [6]:
le=LabelEncoder()
df2['area']=le.fit_transform(df2['area'])
df2['food']=le.fit_transform(df2['food'])
df2['food type']=le.fit_transform(df2['food type'])
df2['discount']=le.fit_transform(df2['discount'])
df2['restaurant']=le.fit_transform(df2['restaurant'])
df2.head()

   area  rent  stars  food  food type  discount  restaurant
0     1  4000      3     1          1         1           0
1     1  4000      3     1          0         1           0
2     1  4000      3     1          1         0           0
3     1  5000      3     1          1         1           0
4     1  4500      3     1          0         1           0

In [7]:
x=df2[['area','rent','stars','food','food type','discount']]
y=df2['restaurant']

In [8]:
encode = LabelEncoder()
y = encode.fit_transform(y)

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.02,random_state = 0)

In [10]:
print(x_test)

    area  rent  stars  food  food type  discount
30     1  9500      5     1          1         1
32     0   500      1     2          1         0

In [11]:
naive_bayes = GaussianNB()
naive_bayes.fit(x_train,y_train)
pred = naive_bayes.predict(x_test)

In [12]:
pred

array([4, 5], dtype=int64)

In [13]:
def add():
    area=input("pune/mumbai :")
    rent=int(input("Expected Room Rent :"))
    stars=int(input('Stars (1/2/3/4/5) :'))
    food=input("Food (low/average/expensive) :")
    food_type=input("Food Type (veg/non-veg) :")
    discount=input("Discount (yes/no) :")
    List=[area,rent,stars,food,food_type,discount]
    with open('input.csv', 'a') as f_object:
        writer_object = writer(f_object)
        writer_object.writerow(List)
        f_object.close()

In [14]:
# def predict():
#     df=pd.read_csv("RestoInfo.csv")
#     print(df.tail())
#     df2=df.copy()
#     le=LabelEncoder()
#     df2['area']=le.fit_transform(df2['area'])
#     df2['food']=le.fit_transform(df2['food'])
#     df2['food type']=le.fit_transform(df2['food type'])
#     df2['discount']=le.fit_transform(df2['discount'])
#     df2['restaurant']=le.fit_transform(df2['restaurant'])
#     x=df2[['area','rent','stars','food','food type','discount']]
#     y=df2['restaurant']
#     encode = LabelEncoder()
#     y = encode.fit_transform(y)
#     x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.05,random_state = 0)
#     naive_bayes = GaussianNB()
#     naive_bayes.fit(x_train,y_train)
#     pred = naive_bayes.predict(x_test)
#     print(pred)
#     print(d[pred[-1]])
#     print(df2.tail())
#     df = df.iloc[:-1]
#     df.to_csv('RestoInfo.csv', index=False)

In [15]:
def predict():
    new_data=pd.read_csv("input.csv")
    new2=new_data.copy()
    le=LabelEncoder()
    new2['area']=le.fit_transform(new2['area'])
    new2['food']=le.fit_transform(new2['food'])
    new2['food type']=le.fit_transform(new2['food type'])
    new2['discount']=le.fit_transform(new2['discount'])
    predictions = naive_bayes.predict(new2)
    print(d[predictions[0]])
    new_data = new_data.iloc[:-1]
    new_data.to_csv('input.csv', index=False)

In [16]:
add()
predict()

pune/mumbai :pune
Expected Room Rent :10000
Stars (1/2/3/4/5) :5
Food (low/average/expensive) :expensive
Food Type (veg/non-veg) :veg
Discount (yes/no) :yes
E